<!--
Root plist for preferences bundle.
Copyright (c) 2017 Isaac Trimble-Pederson, All Rights Reserved.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BrightifyPreferencesBundle First Page</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.cyanisaac.brightify.settingschanged</string>
			<key>action</key>
			<string>killSpotify</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.cyanisaac.brightify</string>
			<key>id</key>
			<string>enabled</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Lightify</string>
		</dict>
		<dict>
			<key>action</key>
			<string>safariTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>@cyanisaac on Twitter</string>
		</dict>
		<dict>
			<key>action</key>
			<string>safariRepository</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Source Code [GPLv3+]</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<string>1</string>
			<key>footerText</key>
			<string>Created by cyanisaac</string>
		</dict>
	</array>
	<key>title</key>
	<string>Brightify</string>
</dict>
</plist>
